.divprincipal {


    gap: 50px;


    border-width: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
   

    width: 958px;
    height: 874px;

    top: 180px;
    left: 221px;


    border-style: solid;

    border-color: #333333;
    padding-top:80px ;






}

main {
    gap: 30px;
   
    height: 1100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;







}

form {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;

    align-items: center;
    align-items: flex-start;
    align-items: center;
}

input {


    width: 100%;
    font-size: 21px;
    border: 1px solid #333333;
    height: 39px;
    top: 430px;
    left: 319px;
    border-width: 1px;
    background: #E6E6E6;

    font-family: Darker Grotesque;
    font-weight: 500;
    font-size: 30px;

    line-height: 100%;
    letter-spacing: 0%;

     




}

.diva {
    width: 100%;
    display: flex;
    gap: 20px;
}

.divinterna {
    gap:15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.divinterespecial1 {
    gap:15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.divinterespecial2 {
    gap:15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
}


.texto_centro {
    width: 100%;
    height: 81px;
    
    left: 293.3px;
    font-family: Darker Grotesque;
    font-weight: 600;
    font-size: 60px;

    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    
    
    


}

form button {
    width: 209px;
    height: 60px;

    border-width: 1px;
    background: #2C5680;
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 40px;
    margin-bottom:50px ;

    cursor: pointer;








}

textarea {
    width: 100%;
    height: 250px;

    font-size: 21px;

    top: 644px;
    left: 318.61px;
    border-width: 1px;
    border: 1px solid #333333;
    background: #E6E6E6;
    font-family: Darker Grotesque;
    font-weight: 500;
    font-size: 30px;

    line-height: 100%;
    letter-spacing: 0%;



    


     
    
    
    
    
    
    
    




}

label {
    font-family: Darker Grotesque;
    font-weight: 500;
    font-size: 30px;

    line-height: 100%;
    letter-spacing: 0%;


}