*{
  margin:0;
  padding:0;
}

footer{
  display:flex;
  align-items: center;
  justify-content: center;

  height:270px;
  gap:50px;
  background-color: #333333;
  font-family: Darker Grotesque;
  border-top: 5px solid;
  border-image: linear-gradient(270deg, #2C5680 0%, #DEB959 100%) 1

}

.pata-logo{
  padding-left:0px;
}

.footer-logo-container{
  display:flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width:20%;

}

.footer-logo-container p{
  font-weight:400;
  font-size:18px;
  color:#FFFFFF;
}

.iframe-container{
  width:17%;
}

.enderecos{
  display:flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

  height:55%;
  width:30%;
  gap:20px;
}

.enderecos div{
  display:flex;
  align-items: center;
  gap:10px;
}

.enderecos div p{
  font-family: Darker Grotesque;
  font-weight: 400;
  font-size: 18px; 
  line-height: 15px;
  color:#FFFFFF;
  
}

.icon-images{
  height:19px;
  width:19px;
}

.quem-somos-btn{
  padding: 5px 20px 10px 20px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

.quem-somos-btn:hover{
  background: linear-gradient(270deg, #235588 0%, #c29420 100%);
  font-weight: bold;
}