.search{
    max-width: 940px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search-bar{
    max-width: 940px;
    width: 100%;
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 163px;
    margin-left: 221px
}
#bar{
    max-width: 808px;
    width: 100%;
    height: 47px;
    opacity: 1;
    border-width: 1px;
   
    padding-left: 45px;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
#add-lobo{
    max-width: 130px;
    width: 100%;
    height: 47px;
    opacity: 1;
    background-color: #DEB959;
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 36px;
    display: flex;
    align-items: flex-end;
    justify-content: center
}

#search-paw{
    position: absolute;
    max-width: 33px;
    width: 100%;
    height: 33px;
    left: 10px;
    background-image: url(/assets/search\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    padding-left: 10px;
    border:none;
    cursor:pointer;
}
.input-paw-set {
    position: relative;
    max-width: 808px; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}