.search{
    /*
    max-width: 940px;
    height: 80px;

    width: 100%;
    */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}
.search-bar{
    
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /*
    max-width: 940px;
    height: 47px;

    margin-top: 163px;
    margin-left: 221px
    */
}

#bar{
    /*
    max-width: 808px;
    */
    width: 100%;
    height: 47px;
    opacity: 1;
    border-width: 1px;
    padding-left: 50px; /* 45px; */
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

#add-link{
    text-decoration: none;
    color: inherit;
    max-width: 130px;
    width: 100%;
    height: 47px;
}
#add-lobo{
    max-width: 130px;
    width: 100%;
    height: 47px;
    opacity: 1;
    background-color: #DEB959;
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 36px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border:none;
    cursor:pointer;
}
#add-lobo:active{
    background-color: #806a34;
}

#search-paw{
    /*
    padding-left: 10px;
    */
    position: absolute;
    max-width: 33px;
    width: 100%;
    height: 33px;
    left: 10px;
    background-image: url("../assets/search (1).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border:none;
    cursor:pointer;
}

.input-paw-set{
    position: relative;
    max-width: 808px; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.adopted-filter{
    /*
    margin-left: 221px;
    margin-top: 18px;
    max-width: 264px;
    */
    
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    gap: 23px
}

.adopted-filter>p{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    flex-direction: row;
}

#check{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#check:focus{
    accent-color: rgb(3, 3, 102);
}


#error-case{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.wolf-list-item{
    /*
    margin-top:130px;
    margin-left: 180px;

    max-width: 999px;
    width: 100%;
    */
    
    height: 361px;
    opacity: 1;
    
    display: flex;
    gap:130px;
}
.square{
    max-width: 430px;
    width: 100%;
    height: 328px;
    opacity: 1;
    border: 4px solid #333333;
    background-color:#2C5680;
}
.wolf-img{
    max-width: 430px;
    width: 100%;
    height: 328px;
    margin-left: 41px;
    margin-top: 33px;
}
.wolf-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-bottom: 50px;
}
.wolf-info{
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    max-width: 478px;
    width: 100%;
    height: 339px;
    opacity: 1;
    gap:55px
}
.wolf-name-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.wolf-title-age{
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.wolf-title-age>p{
    font-family: 'Darker Grotesque',sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}
.wolf-title-age>h2{
    font-family: Darker Grotesque;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;

}
.wolf-adopt-button{
    max-width: 157px;
    width: 100%;
    height: 46px;
    opacity: 1;
    background-color: #DEB959;
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 36px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: none;
    cursor:pointer
}
#destination{
    text-decoration: none;
    max-width: 157px;
    width: 100%;
    height: 46px;
    opacity: 1;
    background-color: #DEB959;
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 36px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: none;
    cursor:pointer
}

.wolf-adopt-button.adotado{
    max-width: 157px;
    width: 100%;
    height: 46px;
    opacity: 1;
    background-color: #7AAC3A;
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 36px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: none;
    cursor:default;
}
.wolf-adopt-button:active{
    background-color: #806a34;
}
.wolf-adopt-button.adotado:active{
    max-width: 157px;
    width: 100%;
    height: 46px;
    opacity: 1;
    background-color: #7AAC3A;
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 36px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: none;
    cursor:default;
}

.wolf-info>p{
    max-width: 478px;
    width: 100%;
    height: 235px;
    opacity: 1;
    font-family: 'Darker Grotesque',sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
}

.wolf-list-item:nth-child(even) .wolf-info>p{
    text-align: right;
}

.wolf-img-right{
    max-width: 430px;
    width: 100%;
    height: 328px;
    margin-left: -41px;
    margin-top: 33px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}
.pagination-list {
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 0;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 40px;
}
.pagination-button{
    width: 40px;
    height: 40px;
    border: 1px solid #DEB959;
    background-color: transparent;
    color: #333;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.pagination-button:hover {
    background-color: #DEB959;
    color: white;
}
.pagination-button.active {
    background-color: #2C5680;
    color: white;
    border-color: #2C5680;
}
.pagination-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    border-color: #ccc;
}