*{
  margin:0;
  padding:0;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex:1;
  gap:80px;
}

main p{
  font-family: Darker Grotesque;
  font-size: 24px;
  font-weight:400;
  padding-bottom:90px;
  width:80%;
}

main h1{
  padding-top:70px;
  font-size:48px;
  font-weight:400;
  font-family: Roboto;
}