* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Darker Grotesque;
    color: #000000;
}

/* ---------------- Títulos e Parágrafos ---------------- */
.title {
    font-family: Roboto;
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
}

.paragraph {
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0%;
}

/* ------- Estilização do Main (Com Título <h1> e Seção do Lobo) ------- */
main {
    /* Posicionamento do Conteúdo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;

    padding: 50px;
}

/* Seção que contém a Imagem do Lobo, Botões e Descrição */
.wolf-section {

    /* Largura e Altura - Verificação Constante */
    width: 80%;

    /* Posicionamento do Conteúdo */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;

}

/* <div> que porta a Imagem do Lobo e os Botões */
.img-btn-side {
    /* Posicionamento do Conteúdo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* <div> que porta a Imagem do Lobo e seu Fundo */
.wolf-image img {
    /* Largura e Altura - Verificação Constante */
    width: 430px;
    height: 328px;
}

.wolf-image div {
    /* Largura e Altura - Verificação Constante */
    width: 430px;
    height: 328px;

    position: absolute;
    z-index: -1;

    transform: translate(-30px, -30px);

    /* Detalhes da <div> de Fundo */ 
    background-color: #2C5680;
    border: 4px solid #333333;
}

/* <div> que porta os Botões */
.btns-div {
    /* Posicionamento do Conteúdo */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* Estilização dos Botões */
.btns-div button {
    /* Largura e Altura - Verificação Constante */
    width: 180px;
    height: 56px;
    border: none;
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.btn-adopt {
    background-color: #7AAC3A;
    width: 180px;
    height: 56px;
    border: none;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

#destiny{

    background-color: #7AAC3A;
    width: 180px;
    height: 56px;
    border: none;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.btn-delete {
    background-color: #DE5959;
    width: 180px;
    height: 56px;
    border: none;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

/* <div> que porta a Descrição do Lobo */
.description-side {
    /* Posicionamento do Conteúdo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}